h2.TituloNaranja{
    color: var(--primary-color);
    background: none;
}

#IconFacebook{
    margin-right: 10px;
    margin-left: 10px;
}

.iconRed{
    width: 37px;
}

.iconRed a {
    border: none;
    text-decoration: none;
}

#contact1 ul li {
    color: var(--gris2); 
}