@font-face {
    font-family: 'CenturyGothic';
    src:  url(../fuentes/CenturyGothicRegular/1105886371.ttf) format('truetype');
}

@font-face {
    font-family: iconom;
    src: url(../fuentes/icomoon/fonts/icomoon.ttf);
}


